<div class = "player-form-input">

<h2>
Player {{player.number}} Settings:
</h2>

<div>
<label>
Rotate Left Key:
<select name="{{player.number}}-rotate-left" id = "{{player.number}}-rotate-left">
  {% for key in keys %}
  <option value="{{key}}" {% if key == player.left
    %}selected{% endif %}>{{key}}</option>
  {% endfor %}
</select>
</label>
</div>

<div>
<label>
Rotate Right Key:
<select name="{{player.number}}-rotate-right" id="{{player.number}}-rotate-right">
  {% for key in keys %}
  <option value="{{key}}" {% if key == player.right
    %}selected{% endif %}>{{key}}</option>
  {% endfor %}
</select>
</label>
</div>

<div>
<label>
Accelerate Key:
<select name="{{player.number}}-accelerate" id="{{player.number}}-accelerate" >
  {% for key in keys %}
  <option value="{{key}}" {% if key == player.accelerate
    %}selected{% endif %}>{{key}}</option>
  {% endfor %}
</select>
</label>
</div>

<div>
<label>
Reverse Key:
<select name="{{player.number}}-reverse" id="{{player.number}}-reverse">
  {% for key in keys %}
  <option value="{{key}}" {% if key == player.reverse
    %}selected{% endif %}>{{key}}</option>
  {% endfor %}
</select>
</label>
</div>

<div>
<label>
Color:
<select name="{{player.number}}-color" id="{{player.number}}-color">
  {% for color in colors %}
   <option value="{{color}}" {% if color == player.color
    %}selected{% endif %}>{{color}}</option>
  {% endfor %}
</select>
</label>
</div>

<div>Use:
<div class="checkbox-div">
<input type = "checkbox" name="{{player.number}}-use" id="{{player.number}}-use" value="use">
<label for="{{player.number}}-use"></label>
</div>
</div>

</div>