/* Start Reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
  {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
  {
  display: block;
}

body {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Reset CSS */
body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1rem;
}

article {
  width: 80%;
  margin: auto;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-weight: bold;
  margin: 1rem;
}

ul {
  width: 90%;
  list-style: disc outside none;
  margin: 2rem;
  line-height: 1.15rem;
}

li {
  margin: 1rem;
}

p {
  line-height: 1.25rem;
  margin: 0.5rem;
}

.settings {
  text-align: center;
}

/* Start play button styles */
.play-button {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
  border-bottom-color: #333;
  border: 1px solid #61c4ea;
  background-color: #7cceee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #333;
  font-family: 'Verdana', Arial, sans-serif;
  font-size: 1rem;
  /*text-shadow:#b2e2f5 0 1px 0; */
  padding: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.play-button:hover {
  background: #2a56c6;
  border: 1px solid #2a56c6;
}

.play-button[disabled=disabled], .play-button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

/* End play button styles */

/* Start link styles */
a {
  color: rgb(0, 0, 166);
  font-weight: 700;
  border-bottom: 1px dotted;
  text-decoration: none;
}

a:visited {
  color: rgb(122, 0, 122);
}

a:hover,a:focus,a:active {
  border-bottom: 2px solid;
}

a:focus,a:active {
  color: rgb(166, 0, 0);
}

/* End link styles */
select {
  border: 0 none;
  color: #FFFFFF;
  background-color: #111111;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 2px 10px;
}

/* Start styles for player input UI */
.settings {
  width: 80%;
  margin: auto;
}

.player-form-input>div {
  vertical-align: top;
  display: inline-block;
  width: 15.5%;
}

@media ( max-width : 920px) {
  .player-form-input>div {
    width: 32%;
  }
}

@media ( max-width : 460px) {
  .player-form-input>div {
    width: 49%;
  }
}


.player-form-input select {
  width: 100%;
}

/* Fancy checkbox begins here */
.checkbox-div {
  margin-top: 3px; /* This makes fancy checkbox line up better with selects on the same line */
  height: 20px;
  background: #333;
  border-radius: 50px;
  position: relative;
}

.checkbox-div:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10%;
  height: 2px;
  width: 80%;
  background: #111;
}

.checkbox-div label {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: -1px; z-index : 1;
  left: 12px;
  background: #ddd;
  z-index: 1
}

.checkbox-div input[type=checkbox]:checked+label {
  left: 75%;
  background: #26ca28;
}

input[type=checkbox] {
  display: none;
}

/* Fancy checkbox ends here */
/* End styles for player input UI */

/* This is to hide my e-mail address from web crawlers
Makes more sense as a class, but only IDs work for some reason */
.dummy {
  display: none
}